#Merging and Concatenating data in pandas

In [ ]:
import pandas as pd

# First we create two DataFrames, staff and students.
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
# And lets index these staff by name
staff_df = staff_df.set_index('Name')
# Now we'll create a student dataframe
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])

In [ ]:
student_df

    Name       School
0  James     Business
1   Mike          Law
2  Sally  Engineering

In [ ]:
staff_df

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [ ]:
student_df = student_df.set_index('Name')
student_df

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [ ]:
pd.merge(staff_df, student_df, how = 'outer', left_index = True, right_index = True)

# Merged in alphabetical order

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
pd.merge(staff_df, student_df, how = 'inner', left_index=True, right_index=True)
# by the order of comparison of elements of left join in function: staff_df

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
pd.merge(staff_df, student_df, how = 'left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [ ]:
pd.merge(staff_df, student_df, how = 'right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [ ]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
pd.merge(staff_df, student_df, how= 'right', on = 'Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [ ]:
pd.merge(staff_df, student_df, how= 'right', on = 'Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

In [ ]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])

pd.merge(staff_df, student_df, how = 'left', on='Name')

# _x is the data came from left join, _y - from right

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

In [ ]:
# We might need to compare several columns - name and surname, for example
import pandas as pd
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

pd.merge(staff_df, student_df, how= 'left', on = ['First Name', 'Last Name'])

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion  Engineering
2      James       Wilde          Grader          NaN

In [ ]:
staff_df.where(staff_df['First Name']=='Kelly').dropna()

  First Name   Last Name            Role
0      Kelly  Desjardins  Director of HR

In [ ]:
staff_df

  First Name   Last Name            Role
0      Kelly  Desjardins  Director of HR
1      Sally      Brooks  Course liasion
2      James       Wilde          Grader

Merging - join horizontally
Concatenating - join vertically

In [ ]:
frames = [staff_df, student_df]
pd.concat(frames)

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion          NaN
2      James       Wilde          Grader          NaN
0      James     Hammond             NaN     Business
1       Mike       Smith             NaN          Law
2      Sally      Brooks             NaN  Engineering

In [ ]:
pd.concat(frames, keys = ['staff', 'student'])

          First Name   Last Name            Role       School
staff   0      Kelly  Desjardins  Director of HR          NaN
        1      Sally      Brooks  Course liasion          NaN
        2      James       Wilde          Grader          NaN
student 0      James     Hammond             NaN     Business
        1       Mike       Smith             NaN          Law
        2      Sally      Brooks             NaN  Engineering

In [ ]:
pd.concat(frames, join = 'outer')

  First Name   Last Name            Role       School
0      Kelly  Desjardins  Director of HR          NaN
1      Sally      Brooks  Course liasion          NaN
2      James       Wilde          Grader          NaN
0      James     Hammond             NaN     Business
1       Mike       Smith             NaN          Law
2      Sally      Brooks             NaN  Engineering

In [ ]:
pd.concat(frames, join = 'inner')

  First Name   Last Name
0      Kelly  Desjardins
1      Sally      Brooks
2      James       Wilde
0      James     Hammond
1       Mike       Smith
2      Sally      Brooks

In [ ]:
pd.concat(frames, axis = 1)

  First Name   Last Name            Role First Name Last Name       School
0      Kelly  Desjardins  Director of HR      James   Hammond     Business
1      Sally      Brooks  Course liasion       Mike     Smith          Law
2      James       Wilde          Grader      Sally    Brooks  Engineering

# Pandas Idioms
pandorable

In [ ]:
# method chaining
(df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME', 'CTYNAME'])
    .rename(columns = {'ESTIMATESBASE2010': 'Estimates Base 2010'}))

In [ ]:
# traditional, not pandorable way to do the exact same thing

df = df[df['SUMLEV']==50]

df.set_index(['STNAME', 'CTYNAME'], inplace = True)
# inplace = True changes the object in place, without creating a new object
# inplace = False is default
df.rename(columns = {'ESTIMATESBASE2010': 'Estimates Base 2010'})

timeit method

In [ ]:
def first_approach():
    global df
    # And we'll just paste our code right here
    return (df.where(df['SUMLEV']==50)
             .dropna()
             .set_index(['STNAME','CTYNAME'])
             .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))

# Read in our dataset anew
df = pd.read_csv('datasets/census.csv')

# And now lets run it
timeit.timeit(first_approach, number=10)

applymap function - you provide some function which should operate on each cell of dataframe, and the return itself is a dataframe

apply - mapping accross all of the rows in a dataframe

In [ ]:
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(data), 'max': np.max(data)})

In [ ]:
# Then we just need to call apply on the DataFrame.

# Apply takes the function and the axis on which to operate as parameters. Now, we have to be a bit careful,
# we've talked about axis zero being the rows of the DataFrame in the past. But this parameter is really the
# parameter of the index to use. So, to apply across all rows, which is applying on all columns, you pass axis
# equal to 'columns'.
df.apply(min_max, axis='columns').head()

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.randint(100, size=100).reshape(10, 10))
df

    0   1   2   3   4   5   6   7   8   9
0  45  75  41  99  28  88  19  97  41  59
1  62  19  58   0  23  37  35  78  20  64
2  17  66  13  35  86  38  73  84  46  62
3  95  87  54  23  30  94  40  12  81  96
4   5  89  66  22  49   1  92  67  14  88
5  43  27   5  53  58  84  92  14  71  20
6   9  64  45  54  12  15  83  11  13  83
7  76  13  34  95  62  32  84   6   1  77
8  89  81  48  69  62  24  76  75  72  21
9  13  58  22  98  66  58  43  24  46  14

In [ ]:
def min_max(row):
  data = row[[0, 1, 2, 3, 4]]
  row['max'] = np.max(data)
  row['min'] = np.min(data)
  return row

df.apply(min_max, axis= 'columns')

    0   1   2   3   4   5   6   7   8   9  max  min
0  45  75  41  99  28  88  19  97  41  59   99   28
1  62  19  58   0  23  37  35  78  20  64   62    0
2  17  66  13  35  86  38  73  84  46  62   86   13
3  95  87  54  23  30  94  40  12  81  96   95   23
4   5  89  66  22  49   1  92  67  14  88   89    5
5  43  27   5  53  58  84  92  14  71  20   58    5
6   9  64  45  54  12  15  83  11  13  83   64    9
7  76  13  34  95  62  32  84   6   1  77   95   13
8  89  81  48  69  62  24  76  75  72  21   89   48
9  13  58  22  98  66  58  43  24  46  14   98   13

In [ ]:
df[[0, 1]]

    0   1
0  45  75
1  62  19
2  17  66
3  95  87
4   5  89
5  43  27
6   9  64
7  76  13
8  89  81
9  13  58

In [ ]:
rows = [0, 1, 2, 3, 4]
# lambda - cannot write multiple statements - one only
# lambda - unnamed function in python
df['max'] = df.apply(lambda x: np.max(x[rows]), axis = 1)
df

    0   1   2   3   4   5   6   7   8   9  max
0  45  75  41  99  28  88  19  97  41  59   99
1  62  19  58   0  23  37  35  78  20  64   62
2  17  66  13  35  86  38  73  84  46  62   86
3  95  87  54  23  30  94  40  12  81  96   95
4   5  89  66  22  49   1  92  67  14  88   89
5  43  27   5  53  58  84  92  14  71  20   58
6   9  64  45  54  12  15  83  11  13  83   64
7  76  13  34  95  62  32  84   6   1  77   95
8  89  81  48  69  62  24  76  75  72  21   89
9  13  58  22  98  66  58  43  24  46  14   98

In [ ]:
def get_state_region(x):
    northeast = ['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 
                 'Rhode Island','Vermont','New York','New Jersey','Pennsylvania']
    midwest = ['Illinois','Indiana','Michigan','Ohio','Wisconsin','Iowa',
               'Kansas','Minnesota','Missouri','Nebraska','North Dakota',
               'South Dakota']
    south = ['Delaware','Florida','Georgia','Maryland','North Carolina',
             'South Carolina','Virginia','District of Columbia','West Virginia',
             'Alabama','Kentucky','Mississippi','Tennessee','Arkansas',
             'Louisiana','Oklahoma','Texas']
    west = ['Arizona','Colorado','Idaho','Montana','Nevada','New Mexico','Utah',
            'Wyoming','Alaska','California','Hawaii','Oregon','Washington']
    
    if x in northeast:
        return "Northeast"
    elif x in midwest:
        return "Midwest"
    elif x in south:
        return "South"
    else:
        return "West"

In [ ]:
df['state_region'] = df.apply(lambda x: get_state_region(x))

In [ ]:
df

    0   1   2   3   4   5   6   7   8   9  max
0  45  75  41  99  28  88  19  97  41  59   99
1  62  19  58   0  23  37  35  78  20  64   62
2  17  66  13  35  86  38  73  84  46  62   86
3  95  87  54  23  30  94  40  12  81  96   95
4   5  89  66  22  49   1  92  67  14  88   89
5  43  27   5  53  58  84  92  14  71  20   58
6   9  64  45  54  12  15  83  11  13  83   64
7  76  13  34  95  62  32  84   6   1  77   95
8  89  81  48  69  62  24  76  75  72  21   89
9  13  58  22  98  66  58  43  24  46  14   98

In [ ]:
for key, value in df[0].iteritems():
  print(key, value)

0 45
1 62
2 17
3 95
4 5
5 43
6 9
7 76
8 89
9 13

In [ ]:
for index, row in df.iterrows():
  print(row[0], row[9])

45 59
62 64
17 62
95 96
5 88
43 20
9 83
76 77
89 21
13 14

In [ ]:
for index, row in df.iterrows():
  print(index, row[:3])

0 0    45
1    75
2    41
Name: 0, dtype: int64
1 0    62
1    19
2    58
Name: 1, dtype: int64
2 0    17
1    66
2    13
Name: 2, dtype: int64
3 0    95
1    87
2    54
Name: 3, dtype: int64
4 0     5
1    89
2    66
Name: 4, dtype: int64
5 0    43
1    27
2     5
Name: 5, dtype: int64
6 0     9
1    64
2    45
Name: 6, dtype: int64
7 0    76
1    13
2    34
Name: 7, dtype: int64
8 0    89
1    81
2    48
Name: 8, dtype: int64
9 0    13
1    58
2    22
Name: 9, dtype: int64

In [ ]:
df=pd.DataFrame({'A':[1,2],'B':[[1,2],[1,2]]})
df

   A       B
0  1  [1, 2]
1  2  [1, 2]

first method to flatten - pandas

In [ ]:
df.explode('B')

   A  B
0  1  1
0  1  2
1  2  1
1  2  2

second method - apply _ pd.Series

In [ ]:
df.set_index('A').B.apply(pd.Series)

   0  1
A
1  1  2
2  1  2

In [ ]:
df.set_index('A').B.apply(pd.Series).stack()

A
1  0    1
   1    2
2  0    1
   1    2
dtype: int64

In [ ]:
df.set_index('A').B.apply(pd.Series).stack().reset_index(level=0)

   A  0
0  1  1
1  1  2
0  2  1
1  2  2

In [ ]:
df.set_index('A').B.apply(pd.Series).stack().reset_index(level=0).rename(columns = {0: 'B'})

   A  B
0  1  1
1  1  2
0  2  1
1  2  2

third method - repeat _ DataFrame -> new df

In [ ]:
df = pd.DataFrame({'A':df.A.repeat(df.B.str.len()), 'B': np.concatenate(df.B.values)})
df

# not working tho

AttributeError: ignored

In [ ]:
df=pd.DataFrame({'A':[1,2],'B':[[1,2],[1,2]]})

In [ ]:

newvalues=np.dstack((np.repeat(df.A.values,list(map(len,df.B.values))),np.concatenate(df.B.values)))
pd.DataFrame(data=newvalues[0],columns=df.columns)

# this was working just now, I have no idea why it doesn't now

TypeError: ignored

In [ ]:
newvalues.shape

(1, 4, 2)

In [ ]:
np.concatenate(df.B.values)

array([1, 2, 1, 2])

# Group by

Sometimes we want to select data based on groups and understand aggregated data on a group level. We have
seen that even though Pandas allows us to iterate over every row in a dataframe, it is geneally very slow to
do so. Fortunately Pandas has a groupby() function to speed up such task. The idea behind the groupby()
function is  that it takes some dataframe, splits it into chunks based on some key values, applies
computation on those  chunks, then combines the results back together into another dataframe. In pandas this
is refered to as the split-apply-combine pattern.

## Splitting

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Let's look at some US census data
df = pd.read_csv('datasets/census.csv')
# And exclude state level summarizations, which have sum level value of 40
df = df[df['SUMLEV']==50]
df.head()

In [ ]:
%%timeit -n 3

for state in df['STNAME'].unique():
    # We'll just calculate the average using numpy for this particular state
    avg = np.average(df.where(df['STNAME']==state).dropna()['CENSUS2010POP'])
    # And we'll print it to the screen
    print('Counties in state ' + state + 
          ' have an average population of ' + str(avg))

In [ ]:
%%timeit -n 3
# For this method, we start by telling pandas we're interested in grouping by state name, this is the "split"
for group, frame in df.groupby('STNAME'):
    # You'll notice there are two values we set here. groupby() returns a tuple, where the first value is the
    # value of the key we were trying to group by, in this case a specific state name, and the second one is
    # projected dataframe that was found for that group
    
    # Now we include our logic in the "apply" step, which is to calculate an average of the census2010pop
    avg = np.average(frame['CENSUS2010POP'])
    # And print the results
    print('Counties in state ' + group + 
          ' have an average population of ' + str(avg))
# And we don't have to worry about the combine step in this case, because all of our data transformation is
# actually printing out results.

# groupby() is around 150 times faster in comparison

In [ ]:
# Now, 99% of the time, you'll use group by on one or more columns. But you can also provide a function to
# group by and use that to segment your data.

# This is a bit of a fabricated example but lets say that you have a big batch job with lots of processing and
# you want to work on only a third or so of the states at a given time. We could create some function which
# returns a number between zero and two based on the first character of the state name. Then we can tell group
# by to use this function to split up our data frame. It's important to note that in order to do this you need
# to set the index of the data frame to be the column that you want to group by first.

# We'll create some new function called set_batch_number and if the first letter of the parameter is a capital
# M we'll return a 0. If it's a capital Q we'll return a 1 and otherwise we'll return a 2. Then we'll pass
# this function to the data frame

df = df.set_index('STNAME')

def set_batch_number(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

# The dataframe is supposed to be grouped by according to the batch number And we will loop through each batch
# group
for group, frame in df.groupby(set_batch_number):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

In [ ]:
# Notice that this time I didn't pass in a column name to groupby(). Instead, I set the index of the dataframe
# to be STNAME, and if no column identifier is passed groupby() will automatically use the index.

In [ ]:
# Let's take one more look at an example of how we might group data. In this example, I want to use a dataset
# of housing from airbnb. In this dataset there are two columns of interest, one is the cancellation_policy
# and the other is the review_scores_value.
df=pd.read_csv("datasets/listings.csv")
df.head()

In [ ]:
# So, how would I group by both of these columns? A first approach might be to promote them to a multiindex
# and just call groupby()
df=df.set_index(["cancellation_policy","review_scores_value"])

# When we have a multiindex we need to pass in the levels we are interested in grouping by
for group, frame in df.groupby(level=(0,1)):
    print(group)

In [ ]:
# This seems to work ok. But what if we wanted to group by the cancelation policy and review scores, but
# separate out all the 10's from those under ten? In this case, we could use a function to manage the
# groupings

def grouping_fun(item):
    # Check the "review_scores_value" portion of the index. item is in the format of
    # (cancellation_policy,review_scores_value
    if item[1] == 10.0:
        return (item[0],"10.0")
    else:
        return (item[0],"not 10.0")

for group, frame in df.groupby(by=grouping_fun):
    print(group)

## Applying

In [ ]:
# To this point we have applied very simple processing to our data after splitting, really just outputting
# some print statements to demonstrate how the splitting works. The pandas developers have three broad
# categories of data processing to happen during the apply step, Aggregation of group data, Transformation of
# group data, and Filtration of group data

### Aggregation

In [ ]:
df.reset_indes()

df.groupby('cancellation_policy').agg({'review_scores_value':np.average})

In [ ]:
df.reset_indes()

df.groupby('cancellation_policy').agg({'review_scores_value':np.nanmean})

# np.nanmean() ignores nan values

In [ ]:
df.groupby('cancellation_policy').agg({'review_scores_value':(np.nanmean, np.nanstd),
                                       'review_per_month': np.nanmean})

nanmean, nanstd functions - no parenthesis

In [ ]:
# Take a moment to make sure you understand the previous cell, since it's somewhat complex. First we're doing
# a group by on the dataframe object by the column "cancellation_policy". This creates a new GroupBy object.
# Then we are invoking the agg() function on that object. The agg function is going to apply one or more
# functions we specify to the group dataframes and return a single row per dataframe/group. When we called
# this function we sent it two dictionary entries, each with the key indicating which column we wanted
# functions applied to. For the first column we actually supplied a tuple of two functions. Note that these
# are not function invocations, like np.nanmean(), or function names, like "nanmean" they are references to
# functions which will return single values. The groupby object will recognize the tuple and call each
# function in order on the same column. The results will be in a heirarchical index, but since they are
# columns they don't show as an index per se. Then we indicated another column and a single function we wanted
# to run.

When we call a function with parentheses, the function gets execute and returns the result to the callable.
In another case, when we call a function without parentheses, a function reference is sent to the callable rather than executing the function itself.



#### Passing Functions 
You can pass a function as an argument by creating the reference, calling the function without parentheses, and provide it as an argument. 
In this case, the reference of concatenate_string is passed to the function_call as an argument.

function_call(concatenate_string)

Inside function_call, it executes the concatenate_string using the reference and returns the result to the callable.

### Transformation

In [ ]:
# Transformation is different from aggregation. Where agg() returns a single value per column, so one row per
# group, tranform() returns an object that is the same size as the group. Essentially, it broadcasts the
# function you supply over the grouped dataframe, returning a new dataframe. This makes combining data later
# easy.

In [ ]:
# For instance, suppose we want to include the average rating values in a given group by cancellation policy,
# but preserve the dataframe shape so that we could generate a difference between an individual observation
# and the sum.

# First, lets define just some subset of columns we are interested in
cols=['cancellation_policy','review_scores_value']
# Now lets transform it, I'll store this in its own dataframe
transform_df=df[cols].groupby('cancellation_policy').transform(np.nanmean)
transform_df.head()

In [ ]:
# So we can see that the index here is actually the same as the original dataframe. So lets just join this
# in. Before we do that, lets rename the column in the transformed version
transform_df.rename({'review_scores_value':'mean_review_scores'}, axis='columns', inplace=True)
df=df.merge(transform_df, left_index=True, right_index=True)
df.head()

In [ ]:
# Great, we can see that our new column is in place, the mean_review_scores. So now we could create, for
# instance, the difference between a given row and it's group (the cancellation policy) means.
df['mean_diff']=np.absolute(df['review_scores_value']-df['mean_review_scores'])
df['mean_diff'].head()

### Filtering

In [ ]:
# The GroupBy object has build in support for filtering groups as well. It's often that you'll want to group
# by some feature, then make some transformation to the groups, then drop certain groups as part of your
# cleaning routines. The filter() function takes in a function which it applies to each group dataframe and
# returns either a True or a False, depending upon whether that group should be included in the results.

In [ ]:
# For instance, if we only want those groups which have a mean rating above 9 included in our results
df.groupby('cancellation_policy').filter(lambda x: np.nanmean(x['review_scores_value'])>9.2)

### Applying

In [ ]:
# By far the most common operation I invoke on groupby objects is the apply() function. This allows you to
# apply an arbitrary function to each group, and stitch the results back for each apply() into a single
# dataframe where the index is preserved.

# Lets look at an example using our airbnb data, I'm going to get a clean copy of the dataframe
df=pd.read_csv("datasets/listings.csv")
# And lets just include some of the columns we were interested in previously
df=df[['cancellation_policy','review_scores_value']]
df.head()

In [ ]:
# In previous work we wanted to find the average review score of a listing and its deviation from the group
# mean. This was a two step process, first we used transform() on the groupby object and then we had to
# broadcast to create a new column. With apply() we could wrap this logic in one place
def calc_mean_review_scores(group):
    # group is a dataframe just of whatever we have grouped by, e.g. cancellation policy, so we can treat
    # this as the complete dataframe
    avg=np.nanmean(group["review_scores_value"])
    # now broadcast our formula and create a new column
    group["review_scores_mean"]=np.abs(avg-group["review_scores_value"])
    return group

# Now just apply this to the groups
df.groupby('cancellation_policy').apply(calc_mean_review_scores).head()

In [ ]:
# Using apply can be slower than using some of the specialized functions, especially agg(). But, if your
# dataframes are not huge, it's a solid general purpose approach

Groupby is a powerful and commonly used tool for data cleaning and data analysis. Once you have grouped the
data by some category you have a dataframe of just those values and you can conduct aggregated analsyis on
the segments that you are interested. The groupby() function follows a split-apply-combine approach - first
the data is split into subgroups, then you can apply some transformation, filtering, or aggregation, then
the results are combined automatically by pandas for us.

# Scales

In [ ]:
import pandas as pd

df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                  index = ['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 
                           'ok', 'ok', 'ok', 'poor', 'poor'],
                  columns = ['Grades'])
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [ ]:
df.dtypes

Grades    object
dtype: object

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# We can, however, tell pandas that we want to change the type to category, using the astype() function

df['Grades'].astype('category')

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): ['A', 'A+', 'A-', 'B', ..., 'C+', 'C-', 'D', 'D+']

In [ ]:
my_categories = pd.CategoricalDtype(categories = ['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'], 
                           ordered=True)

grades = df['Grades'].astype(my_categories)
grades

# grades is a Series because df['Grades'] is a Series

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
ok            C
ok           C-
poor         D+
poor          D
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [ ]:
df[df['Grades']>'C']

     Grades
ok       C+
ok       C-
poor     D+
poor      D

In [ ]:
grades[grades['Grades']>'C']

KeyError: ignored

In [ ]:
type(grades)

pandas.core.series.Series

In [ ]:
grades[grades>'C']

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
good         B-
ok           C+
Name: Grades, dtype: category
Categories (11, object): ['D' < 'D+' < 'C-' < 'C' ... 'B+' < 'A-' < 'A' < 'A+']

In [ ]:
df_new = grades.to_frame()
df_new

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [ ]:
type(df_new)

pandas.core.frame.DataFrame

In [ ]:
df_new[df_new['Grades']>'C']

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+

In [ ]:
grades.to_frame().reset_index()

        index Grades
0   excellent     A+
1   excellent      A
2   excellent     A-
3        good     B+
4        good      B
5        good     B-
6          ok     C+
7          ok      C
8          ok     C-
9        poor     D+
10       poor      D

In [ ]:
gr = df.astype(my_categories)
type(gr)

pandas.core.frame.DataFrame

In [ ]:
gr[gr['Grades']>'C']

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+

In [ ]:
import numpy as np

# Now we read in our dataset
df=pd.read_csv("datasets/census.csv")

# And we reduce this to country data
df=df[df['SUMLEV']==50]

# And for a few groups
df=df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg(np.average)

df.head()

In [ ]:
pd.cut(df,10)

# shows which category the mean value of the state is in

# Pivot Table

A pivot table is a way of summarizing data in a DataFrame for a particular purpose. It makes heavy use of
the aggregation function. A pivot table is itself a DataFrame, where the rows represent one variable that
you're interested in, the columns another, and the cell's some aggregate value. A pivot table also tends to
includes marginal values as well, which are the sums for each column and row. This allows you to be able to
see the relationship between two variables at just a glance.

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('datasets/cwurData.csv')
df.head()

FileNotFoundError: ignored

In [ ]:
def create_category(ranking):
  if (ranking >0) & (ranking<101):
    return "First tier university"
  elif (ranking >100) & (ranking<201):
    return "Second tier university"
  elif (ranking >200) & (ranking<301):
    return "Third tier university"
  return "Other tier university"

df['Rank_Level'] = df['world_rank'].apply(lambda x: create_category(x))
df.head()

In [ ]:
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean]).head()

#pivot_table ignores nan values

In [ ]:
# We can see a  hierarchical dataframe where the index, or rows, are by country and the columns have two
# levels, the top level indicating that the mean value is being used and the second level being our ranks. In
# this example we only have one variable, the mean, that we are looking at, so we don't really need a
# heirarchical index.

# We notice that there are some NaN values, for example, the first row, Argentia. The NaN values indicate that
# Argentia has only observations in the "Other Top Unversities" category

In [ ]:
# Now, pivot tables aren't limited to one function that you might want to apply. You can pass a named
# parameter, aggfunc, which is a list of the different functions to apply, and pandas will provide you with
# the result using hierarchical column names.  Let's try that same query, but pass in the max() function too

df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max]).head()

In [ ]:
# So now we see we have both the mean and the max. As mentioned earlier, we can also summarize the values
# within a given top level column. For instance, if we want to see an overall average for the country for the
# mean and we want to see the max of the max, we can indicate that we want pandas to provide marginal values
df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max], 
               margins=True).head()

In [ ]:
# A pivot table is just a multi-level dataframe, and we can access series or cells in the dataframe in a similar way 
# as we do so for a regular dataframe. 

# Let's create a new dataframe from our previous example
new_df=df.pivot_table(values='score', index='country', columns='Rank_Level', aggfunc=[np.mean, np.max], 
               margins=True)
# Now let's look at the index
print(new_df.index)
# And let's look at the columns
print(new_df.columns)

In [ ]:
# We can see the columns are hierarchical. The top level column indices have two categories: mean and max, and
# the lower level column indices have four categories, which are the four rank levels. How would we query this
# if we want to get the average scores of First Tier Top Unversity levels in each country? We would just need
# to make two dataframe projections, the first for the mean, then the second for the top tier
new_df['mean']['First Tier Top Unversity'].head()

In [ ]:
# We can see that the output is a series object which we can confirm by printing the type. Remember that when
# you project a single column of values out of a DataFrame you get a series.
type(new_df['mean']['First Tier Top Unversity'])

In [ ]:
# What if we want to find the country that has the maximum average score on First Tier Top University level?
# We can use the idxmax() function.
new_df['mean']['First Tier Top Unversity'].idxmax()

In [ ]:
# Now, the idxmax() function isn't special for pivot tables, it's a built in function to the Series object.
# We don't have time to go over all pandas functions and attributes, and I want to encourage you to explore
# the API to learn more deeply what is available to you.

In [ ]:
# If you want to achieve a different shape of your pivot table, you can do so with the stack and unstack
# functions. Stacking is pivoting the lowermost column index to become the innermost row index. Unstacking is
# the inverse of stacking, pivoting the innermost row index to become the lowermost column index. An example
# will help make this clear

# Let's look at our pivot table first to refresh what it looks like
new_df.head()

In [ ]:
# Now let's try stacking, this should move the lowermost column, so the tiers of the university rankings, to
# the inner most row
new_df=new_df.stack()
new_df.head()

In [ ]:
# In the original pivot table, rank levels are the lowermost column, after stacking, rank levels become the
# innermost index, appearing to the right after country

# Now let's try unstacking
new_df.unstack().head()

In [ ]:
# That seems to restore our dataframe to its original shape. What do you think would happen if we unstacked twice in a row?
new_df.unstack().unstack()

In [ ]:
# We actually end up unstacking all the way to just a single column, so a series object is returned. This
# column is just a "value", the meaning of which is denoted by the heirarachical index of operation, rank, and
# country.

# Date/Time Functionality

In [2]:
import pandas as pd
import numpy as np

## Timestamp

In [3]:
# Pandas has four main time related classes. Timestamp, DatetimeIndex, Period, and PeriodIndex. First, let's
# look at Timestamp. It represents a single timestamp and associates values with points in time.

# For example, let's create a timestamp using a string 9/1/2019 10:05AM, and here we have our timestamp.
# Timestamp is interchangeable with Python's datetime in most cases.
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [4]:
# We can also create a timestamp by passing multiple parameters such as year, month, date, hour,
# minute, separately
pd.Timestamp(2019, 12, 20, 0, 0)

Timestamp('2019-12-20 00:00:00')

In [5]:
# Timestamp also has some useful attributes, such as isoweekday(), which shows the weekday of the timestamp
# note that 1 represents Monday and 7 represents Sunday
pd.Timestamp(2019, 12, 20, 0, 0).isoweekday()

5

In [6]:
# You can find extract the specific year, month, day, hour, minute, second from a timestamp
pd.Timestamp(2019, 12, 20, 5, 2,23).second

23

In [11]:
pd.Timestamp(2019, 2, 3, 23, 5, 1, 9)

Timestamp('2019-02-03 23:05:01.000009')

## Period

In [12]:
# Suppose we weren't interested in a specific point in time and instead wanted a span of time. This is where
# the Period class comes into play. Period represents a single time span, such as a specific day or month.

# Here we are creating a period that is January 2016,
pd.Period('1/2016')

Period('2016-01', 'M')

In [14]:
pd.Period('5/1/2018')

Period('2018-05-01', 'D')

In [15]:
pd.Period('1/2019')+6

Period('2019-07', 'M')

In [17]:
pd.Period('1/2016') +0.1

TypeError: ignored

In [20]:
pd.Period('1/3/2016')-1

Period('2016-01-02', 'D')

In [35]:
pd.Period('3/2010').days_in_month

31

In [41]:
pd.Period('2/1/2/2016')

Period('2002-02-01 20:16', 'T')

## DatetimeIndex and PeriodIndex

In [25]:
t2 = pd.DataFrame(list('abc'), [1, 2, 3])
t2

   0
1  a
2  b
3  c

In [21]:
# The index of a timestamp is DatetimeIndex. Let's look at a quick example. First, let's create our example
# series t1, we'll use the Timestamp of September 1st, 2nd and 3rd of 2016. When we look at the series, each
# Timestamp is the index and has a value associated with it, in this case, a, b and c.

t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [26]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
# Similarly, we can create a period-based index as well. 
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11-1')])
t2

2016-09       d
2016-10       e
2016-11-01    f
dtype: object

In [28]:
# Similarly, we can create a period-based index as well. 
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

# freq: D means that the period is a day, frequency

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [29]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

## Converting to Datetime

In [30]:
# Now, let's look into how to convert to Datetime. Suppose we have a list of dates as strings and we want to
# create a new dataframe

# I'm going to try a bunch of different date formats
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

# And just some random data
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))
ts3

               a   b
2 June 2013   99  18
Aug 29, 2014  67  88
2015-06-26    90  73
7/12/16       21  44

In [31]:
# Using pandas to_datetime, pandas will try to convert these to Datetime and put them in a standard format.

ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  99  18
2014-08-29  67  88
2015-06-26  90  73
2016-07-12  21  44

In [32]:
# to_datetime also() has options to change the date parse order. For example, we 
# can pass in the argument dayfirst = True to parse the date in European date.

pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

## Timedelta

In [33]:
# Timedeltas are differences in times. This is not the same as a a period, but conceptually similar. For
# instance, if we want to take the difference between September 3rd and  September 1st, we get a Timedelta of
# two days.
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [34]:
# We can also do something like find what the date and time is for 12 days and three hours past September 2nd,
# at 8:10 AM.
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

## Offset

In [42]:
# Offset is similar to timedelta, but it follows specific calendar duration rules. Offset allows flexibility
# in terms of types of time intervals. Besides hour, day, week, month, etc it also has business day, end of
# month, semi month begin etc

# Let's create a timestamp, and see what day is that
pd.Timestamp('9/4/2016').weekday()

6

In [43]:
# Now we can now add the timestamp with a week ahead
pd.Timestamp('9/4/2016') + pd.offsets.Week()

Timestamp('2016-09-11 00:00:00')

In [44]:
(pd.Timestamp('9/4/2016') + pd.offsets.Week()).weekday()

6

In [45]:
# Now let's try to do the month end, then we would have the last day of Septemer
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

## Working with Dates in a DataFrame

In [46]:
# Next, let's look at a few tricks for working with dates in a DataFrame. Suppose we want to look at nine
# measurements, taken bi-weekly, every Sunday, starting in October 2016. Using date_range, we can create this
# DatetimeIndex. In data_range, we have to either specify the start or end date. If it is not explicitly
# specified, by default, the date is considered the start date. Then we have to specify number of periods, and
# a frequency. Here, we set it to "2W-SUN", which means biweekly on Sunday

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [47]:
# There are many other frequencies that you can specify. For example, you can do business day
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [48]:
# Or you can do quarterly, with the quarter start in June
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [65]:
# Now, let's go back to our weekly on Sunday example and create a DataFrame using these dates, and some random
# data, and see what we can do with it.

dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      101      127
2016-10-16       97      120
2016-10-30      104      125
2016-11-13      100      122
2016-11-27       96      124
2016-12-11       93      115
2016-12-25       93      122
2017-01-08      101      129
2017-01-22       99      116

In [53]:
l = np.random.randint(-5, 10, 9)
l

array([ 4, -5,  0,  4, -2, -3,  3, -5,  5])

In [56]:
l.cumsum()

array([ 4, -1, -1,  3,  1, -2,  1, -4,  1])

In [57]:
100 + l.cumsum()

array([104,  99,  99, 103, 101,  98, 101,  96, 101])

In [61]:
df.index.weekday

Int64Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int64')

In [66]:
df.index.weekday_name

AttributeError: ignored

In [68]:
df

            Count 1  Count 2
2016-10-02      101      127
2016-10-16       97      120
2016-10-30      104      125
2016-11-13      100      122
2016-11-27       96      124
2016-12-11       93      115
2016-12-25       93      122
2017-01-08      101      129
2017-01-22       99      116

In [67]:
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16     -4.0     -7.0
2016-10-30      7.0      5.0
2016-11-13     -4.0     -3.0
2016-11-27     -4.0      2.0
2016-12-11     -3.0     -9.0
2016-12-25      0.0      7.0
2017-01-08      8.0      7.0
2017-01-22     -2.0    -13.0

In [69]:
# Suppose we want to know what the mean count is for each month in our DataFrame. We can do this using
# resample. Converting from a higher frequency to a lower frequency is called downsampling (we'll talk about
# this in a moment)
df.resample('M').mean()

               Count 1  Count 2
2016-10-31  100.666667    124.0
2016-11-30   98.000000    123.0
2016-12-31   93.000000    118.5
2017-01-31  100.000000    122.5

In [70]:
df.resample('Y').mean()

               Count 1     Count 2
2016-12-31   97.714286  122.142857
2017-12-31  100.000000  122.500000

In [71]:
df['2017']

            Count 1  Count 2
2017-01-08      101      129
2017-01-22       99      116

In [72]:
df['2016-12']

            Count 1  Count 2
2016-12-11       93      115
2016-12-25       93      122

In [76]:
df['2016-12':]

            Count 1  Count 2
2016-12-11       93      115
2016-12-25       93      122
2017-01-08      101      129
2017-01-22       99      116

In [77]:
df['2015':]

            Count 1  Count 2
2016-10-02      101      127
2016-10-16       97      120
2016-10-30      104      125
2016-11-13      100      122
2016-11-27       96      124
2016-12-11       93      115
2016-12-25       93      122
2017-01-08      101      129
2017-01-22       99      116

In [78]:
a = a =2
a

2

In [82]:
pd.Period('01/12/2019', 'M')

Period('2019-01', 'M')

In [79]:
pd.Period('01/12/2019', 'M') +5

Period('2019-06', 'M')